body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hit-primary: #005511;
  --hit-secondary: #f8b800;
  --text-light: #ffffff;
  --text-dark: #333333;
  --bg-light: #ffffff;
  --bg-dark: #181818;
  --primary-color: #5D5CDE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background-color: var(--bg-dark);
    color: var(--text-light);
  }
}

/* Add other custom CSS as needed */
